@import url("https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

body {
  box-sizing: border-box;
  font-family: "Kadwa", serif;
  background-color: #ffe2d1;
  margin: 0px;
  letter-spacing: 0.03rem;
}

nav {
  background-color: #e1f0c4;
  border: 0;
  padding: 0;
  color: #5e4c5a;
  font-weight: bolder;
  border-bottom: #55917f 2px solid;
  border-right: #55917f 2px solid;
  border-bottom-right-radius: 0.5rem;
}

nav div {
  font-size: larger;
  padding: 0.5rem;
  text-align: center;
  margin: auto;
}

a {
  text-decoration: none;
  color: #5e4c5a;
}

.list-non-bullet {
  text-align: right;
}

.list-item-inline {
  list-style: none;
  display: inline;
  padding: 1rem;
}

input {
  display: block;
  border: 2px solid #5e4c5a;
  color: white;
  padding: 0.6rem;
  border-bottom-right-radius: 0.5rem;
  height: 10vh;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: #55917f;
  font-size: 1.2rem;
  text-align: center;
}

input[type='date'] {
  font-size: 1.5rem;
}

/* Remove spinner from input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::placeholder {
  color: white;
  font-size: 1.1rem;
  text-align: center;
}

button {
  display: block;
  margin: 1rem;
  margin-bottom: 2rem;
  border: 2px solid #55917f;
  padding: 0.6rem;
  border-radius: 0.5rem;
  font-family: "Kadwa", serif;
  font-size: large;
  font-weight: bolder;
  letter-spacing: 0.03rem;
  color: #5e4c5a;
  background-color: #e1f0c4;
  margin: auto;
}

button:hover {
  color: white;
  background-color: #55917f;
}

#output {
  margin: 1rem;
  font-size: xx-large;
  padding: 0.5rem;
  text-align: center;
  margin: auto;
}

#gif-output {
  height: 360px;
  max-width: 95%;
  border: 0;
  padding: 0;
  margin: auto;
  text-align: center;
}

.footer {
  background-color: #e1f0c4;
  padding: 2rem 1rem;
  color: #5e4c5a;
  text-align: center;
  border-top-left-radius: 1rem;
  border-top: #55917f 2px solid;
  border-left: #55917f 2px solid;
  margin-top: 1rem;
}

.footer .link {
  color: black;
  font-weight: bold;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}
